// * colors
$color-primary: #41bbd9;
$color-secondary: #416fd9;
$color-tertiary: #41d9ab;
$color-tertiary-dark: #002629;
$color-grey-1: #c6d5cd;
$color-grey-2: #28312d;

//* typography
$font-primary: "Oxygen", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
